
html, body {
	height: 100%;
	background: rgb(211, 211, 211);
	margin: 0;
}

.box {
	width: 90%;
	background: white;
	margin: 0 auto;
}

.one {
	height: 30%;
}

.text {
	font-size: 10px;
	font-family: sans-serif;
	text-align: left;
	padding: 20px;
}

.click {
	display: inline-block;
	height: 17%;
	width: 12%;
	text-align: center;
	margin-left: 10px;
	color: white;
	font-family: sans-serif;
}

.onecon {
	background: red;
}

.twocon {
	background: blue;
}

.two {
	height: 60%;
	margin-top: 25px;
	padding-top: 30px;
}

.image {
	color: white;
	font-family: sans-serif;
	text-align: center;
	margin: auto;
	height: 50%;
	width: 90%;
	background: rgb(84, 84, 84);
}

.text2 {
	text-align: left;
	font-family: sans-serif;
	padding: 20px;
	font-size: 10px;
}